<div id="syncitgroup_sgform" class="syncitgroup_sgform">
	<div class="messages">
		<ul>
			<li>
			<div class="message">
				<div class="messageheader">
					<div class="date-n-customer-name">
						<div class="name"><span>{{var name}}</span></div>
						<div class="email"><span>{{var email}}</span></div>
						<div class="message"><span>{{var email}}</span></div>
						<div class="message"><span>{{var ip}}</span></div>
						<div class="date"><span>{{var submit_date}}</span></div>
					</div>
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>