<?xml version="1.0"?>
<!--
 /**
 * @category  Syncit Group Custom Contact Form
 * @package   SyncitGroup_SgForm
 * @copyright Copyright (c) 2021 Bhavin
 * @author    Bhavin
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="sgform" frontName="sgform">
            <module name="SyncitGroup_SgForm" before="Magento_Backend"/>
        </route>
    </router>
</config>
