<?xml version="1.0"?>
<!--
 /**
 * @category  Syncit Group Custom Contact Form
 * @package   SyncitGroup_SgForm
 * @copyright Copyright (c) 2021 Bhavin
 * @author    Bhavin
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="syncitgroup" translate="label" sortOrder="10">
			<label>Syncit Group</label>
		</tab>
		<section id="sgform" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Syncit Group Contact Form</label>
			<tab>syncitgroup</tab>
			<resource>SyncitGroup_SgForm::sgformconfig</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable SG Contact Form</label>
					<source_model>SyncitGroup\SgForm\Model\Source\StatusExtention</source_model>
					<comment>
						`Enable SG Contact Form`
					</comment>
				</field>
				<field id="captcha" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Captcha</label>
					<source_model>SyncitGroup\SgForm\Model\Source\StatusExtention</source_model>
					<comment>
						Captcha for frontend contact form post
					</comment>
				</field>
				<field id="sendemail" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Send E-mail </label>                    
					<source_model>SyncitGroup\SgForm\Model\Source\StatusExtention</source_model>
					<comment>
						if enable then email send to user who is connected with message else not send mail to anyone.
					</comment>
				</field>				
				<field id="email_subject" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>E-mail Subject</label>
					 <depends>
						<field id="sendemail" >1</field>
					</depends>
					<comment>
						set email subject here						
					</comment>
				</field>
				<field id="email_template" translate="label comment" type="editor" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>E-mail template</label>
					 <depends>
						<field id="sendemail" >1</field>
					</depends>
					<frontend_model>SyncitGroup\SgForm\Block\Adminhtml\System\Config\Editor</frontend_model>
					<comment>
						<![CDATA[set design of email template. You can also use module pre define shortcode in template.
						short code are {{var Name}}, {{var Email}}, {{var message}},{{var ip}}, {{var submit_date}}]]> 
					</comment>
				</field>
				<field id="email_template_css" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>E-mail Css</label>
					 <depends>
						<field id="sendemail" >1</field>
					</depends>
					<comment>
						set you email template css here
					</comment>
				</field>
			</group>
		</section>
	</system>
</config>